/* Mobile size screen */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

@media screen and (max-width: 428px) {
  body {
    background-image: url('../oyenonada.png');
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0; /* Agrega este estilo para quitar el margen predeterminado del cuerpo */
  }
  
  nav {
    width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  }

  nav .container {
    width: 100%;
    display: flex;
    background-color: #648064;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: fixed; /* Cambia la posición a fija */
    top: 0; /* Coloca la barra de navegación en la parte superior */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
  }

  nav .container h1 {
    font-family: 'Roboto Slab', serif;
    color: rgb(255, 255, 255);
    font-size: 26px;
    margin: 0;
  }

  * {
    margin: 0;
  }

  label,
  input {
    display: block;
  }

  .form-container {
    text-align: center;
    font-family: 'Bitter', serif;
    color: white;


  }
  
  #emailField, #passwordField {
    font-size: 18px;
  }

  #emailField input,
  #passwordField input {
    margin-left: 60px;
    display: flex;
    width: 70%;
    border: 1px solid black;
  }

  .brand-name {
    font-size: 20px;
    color: #bddbc3;
    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form-container label,
  .form-container input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Ajuste de la altura de la barra de navegación */
  nav .container i {
    font-size: 24px;
    margin-right: 10px;
  }

  #buttonSend {
    margin-top: 10px;
    margin-left: 170px;
    background-color: #97b997;
    border: 0;
    width: 100px;
    height: 30px;
  }

  #registerForm {
    text-decoration: none;
    color: rgb(62, 214, 148);
  }

  #notRegistered {
    margin-top: 20px;
  }
  
}
