@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

@media screen and (max-width: 428px) {
* {
      margin: 0;
      padding: 0;
}

nav {
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
}
.shitContainer i {
  display: flex;
  font-size: 20px;
  align-self: flex-start; /* Alinea el ícono a la izquierda */
  margin-right: 10px; /* Añade un margen derecho para separarlo del texto */
}

nav .container {
  width: 100%;
  display: flex;
  background-color: #648064;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: fixed; /* Cambia la posición a fija */
  top: 0; /* Coloca la barra de navegación en la parte superior */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}

nav .container h1 {
  font-family: 'Roboto Slab', serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  margin: 0;
}

nav .container i {
  font-size: 24px;
  margin-right: 10px;
}


* {
  margin: 0;
}

body {
  background-color: black;
}

.shitContainer {
  text-align: center;
  margin-top: 100px;
  margin-left: 30px;
  font-family: 'Bitter', serif;
}

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  color: rgb(255, 255, 255);
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#one {
    background-image:url('hamburgers.jpg');
    background-size : cover ;
}

.burger-box {
    border :1 px solid #ccc ;
    padding :10 px ;
    border-radius :5 px ;
    background-color :#998b8b ;
    border: 0.5px solid white;
    height: 90px;
}

.listaDeBurgers {
  margin-top: 20px;
  margin-right: 25px;
}

.listaDeBurgers ul li {
  list-style-type: none;
}

.burgerDescription {
  font-size: 14px;
  color: rgba(95, 243, 54, 0.813);
}
}
