@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap'); /** Esta se utiliza para el mensaje **/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

@media screen and (max-width: 428px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    color: white;
    background-color: black;
  }

  nav .container {
    width: 100%;
    display: flex;
    background-color: #648064;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: fixed; /* Cambia la posición a fija */
    top: 0; /* Coloca la barra de navegación en la parte superior */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
  }

  /** Alinear el mensaje **/ 
  #welcomeMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Figtree', sans-serif;
  }


/** Fin del alineado **/ 

nav .container h1 {
  font-family: 'Roboto Slab', serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  margin: 0;
  }

  nav .container i {
    font-size: 24px;
    margin-right: 10px;
  }

  .quickSearch {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
/** Alinear el mensaje: ¿Qué quieres comer? al centro **/
.quickSearch .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Bitter', serif;
}

.quickSearch .message p {
    font-size: 18px;
}
/** Fin del alineado **/

  .quickSearch input {
    text-align: center;
    width: 250px;
    border: 1px solid green;
    border-radius: 2px;
  }

  .boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .foodName {
    font-size: 20px;
  }
  
  .box {
    font-family: 'Figtree', sans-serif;
    color: rgb(255, 255, 255);
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 2px;
    text-align: center; 
    display: flex;
    justify-content: center;
    border: 1px solid green;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
  }

  #one {
    background-image: url('../pambazo.jpg');
    background-size: cover;
  }

  #two {
    background-image: url('../hamburgers.jpg');
    background-size: cover;
  }

  #three {
    background-image: url('../tacos.jpg');
    background-size: cover;
  }

  .boxContainer {
    background-image: url('');
  }

  .foodList .box {
    width: 100%;
    margin: 0;
    border: 1px solid black;
    background-color: rgb(175, 174, 93);
    height: 90px;
  }

  /** Alineando 'best sellers' **/
  .bestSellers {
    margin-top: 10px;
    text-align: center;
    font-family: 'Figtree', sans-serif ;
    }

.foodList {
        margin-top: 50px;
    }
    .foodList h3 {
        font-family: 'Figtree', sans-serif;
        margin-left: 10px;
    }

   #wannaSell {
    margin-top: 20px;
    margin-left: 110px;
    background-color: #97b997;
    border: 2px solid green;
    width: 200px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
   }
}

