/** Roboto Slab: 'Roboto Slab', serif **/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
/** Figtree: 'Figtree', sans-serif **/
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');
/** Bitter: 'Bitter', serif **/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

